<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
  {% include 'includes/imports.html' %}
  {% block head %}{% endblock %}
</head>
<body>
  <div id="container">
    <div id="header">
      {% include 'includes/header.html' %}
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
      {% include 'includes/footer.html' %}
    </div>
  </div>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>